header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;

  h2 {
    font-size: 3rem;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;
    padding: 10px 20px;

    &:nth-child(3) {
      border: 3px solid white;
      border-radius: 20px;
    }

    a {
      text-decoration: none;
    }
  }
}

@media (max-width: 620px) {
  header {
    ul {
      display: none;
    }
  }
}
