.main {
  line-height: 3rem;
  padding-top: 30px;
  min-height: 60vh;

  div {
    width: 70%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
    margin: 20px 0;
  }
}

@media (max-width: 1080px) {
  .main {
    div {
      width: auto;
    }
  }
}
