#tech {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;

  h3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  hr {
    width: 40%;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    margin: 20px auto;
  }

  ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      list-style: none;
      margin: 10px;
      padding: 10px;

      span:nth-child(2) {
        display: flex;
        border: 2px solid white;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        background: linear-gradient(to left, transparent 50%, white 50%) right;
        background-size: 200%;
        transition: 0.25s ease;

        i {
          font-size: 30px;
          transform: rotate(-45deg);
        }

        &:hover {
          background-position: left;

          i {
            color: black;
          }
        }
      }
    }
  }
}

.tooltiptext {
  border: 2px solid white;
  position: absolute;
  top: -30px;
  padding: 3px 10px;
  border-radius: 5px;
  white-space: nowrap;
  transition: all 0.25s ease;
  background-color: rgb(18, 18, 18);
  opacity: 0;
}
