* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #121212;
}

section {
  margin-bottom: 100px;
}

section a:not(.img-link):not(.quotable) {
  border: 3px solid white;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, white)) right;
  background: linear-gradient(to left, transparent 50%, white 50%) right;
  background-size: 200%;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

section a:not(.img-link):not(.quotable) i {
  margin-right: 10px;
}

section a:not(.img-link):not(.quotable):hover {
  background-position: left;
  color: black;
}

section a:not(.img-link):not(.quotable):hover i {
  color: black;
}

.container {
  max-width: 1000px;
}

@media (max-width: 1020px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 820px) {
  .container {
    max-width: 600px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

header h2 {
  font-size: 3rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  list-style: none;
  padding: 10px 20px;
}

header li:nth-child(3) {
  border: 3px solid white;
  border-radius: 20px;
}

header li a {
  text-decoration: none;
}

@media (max-width: 620px) {
  header ul {
    display: none;
  }
}

.main {
  min-height: 80vh;
  margin: 50px auto;
  padding-left: 20px;
}

.main div {
  line-height: 2;
  width: 70%;
}

.main h1 {
  font-size: 3rem;
}

.main h2 {
  font-size: 1.8rem;
  margin: 30px 0;
}

.main p {
  font-size: 1.1rem;
  margin: 20px 0;
}

@media (max-width: 840px) {
  .main div {
    line-height: 1.5;
  }
}

#projects {
  margin: 0 auto;
}

#projects h2 {
  padding-left: 20px;
}

#projects .project {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  overflow-x: hidden;
}

#projects .project .img-container {
  min-width: 400px;
}

#projects .project .img-container img {
  width: 100%;
  height: auto;
}

#projects .project .project-details {
  padding: 50px;
  overflow: hidden;
}

#projects .project .project-details p {
  margin: 20px 0;
}

#projects .project:nth-child(odd) .img-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#projects .project:nth-child(odd) .project-details {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 820px) {
  #projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .project:nth-child(odd) .img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #projects .project:nth-child(odd) .project-details {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#tech {
  text-align: center;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
}

#tech h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}

#tech hr {
  width: 40%;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
}

#tech ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

#tech ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  list-style: none;
  margin: 10px;
  padding: 10px;
}

#tech ul li span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, white)) right;
  background: linear-gradient(to left, transparent 50%, white 50%) right;
  background-size: 200%;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

#tech ul li span:nth-child(2) i {
  font-size: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#tech ul li span:nth-child(2):hover {
  background-position: left;
}

#tech ul li span:nth-child(2):hover i {
  color: black;
}

.tooltiptext {
  border: 2px solid white;
  position: absolute;
  top: -30px;
  padding: 3px 10px;
  border-radius: 5px;
  white-space: nowrap;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #121212;
  opacity: 0;
}

#contacts {
  min-height: 80vh;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

.contacts-content h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 9rem;
  color: black;
}

.contacts-content .contact-info {
  margin-left: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
}

.contacts-content .contact-info p {
  margin: 5px 0;
}

.contacts-content .contact-info i {
  margin-right: 5px;
}

@media (max-width: 500px) {
  .contacts-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-content .contact-info {
    margin-left: 0;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */